# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# Directory for debugging
.vscode/

# Optional npm cache directory
.npm

# Coverage directory used by testing frameworks like Jest
coverage/

# Build outputs
dist/
build/

# Temporary files
*.tmp
*.temp

# OS-specific files (e.g., Mac, Windows)
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml

# PM2 logs and files
pm2/
package-lock.json